asgiref==3.7.2
attrs==20.3.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Django==4.2.4
gunicorn==21.2.0
idna==3.6
jellyfish==0.11.2
lib50==3.0.10
packaging==23.1
pexpect==4.9.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pycparser==2.21
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
termcolor==1.1.0
typing_extensions==4.7.1
urllib3==2.1.0
